@import url(navbar.css);
@import url(https://fonts.googleapis.com/css?family=Chicle);


body {
    margin: 0;
    background-color: red;
}


#topimg, #middleimg, #botimg {
    height: 400px;
}

#topimg {
    background: url(../Images/malediwy1.jpg) no-repeat fixed top;
    background-size:cover;
    color: #b6ff00;
    font-family: 'Chicle', cursive;
}

    #topimg p {
        margin-top: 5%;
        width: 100%;
        font-size: 7em;
        text-align: center;
    }

#middleimg {
    background: url(../Images/activityimg1.png) fixed;
    background-size: cover;
}

#botimg {
    background: url(../Images/restaurant-tables-with-sea-view.jpg) fixed center;
    background-size: cover;
}

#contenttop, #contentmiddle, #contentbot {
    background-color: white;
    height: auto;
}

    #contenttop, #contentmiddle, #contentbot p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 5%;
        padding-bottom:5%;
    }
    #contenttop #about-fp{
        height:auto;
        border-left:1px solid dimgray;
    }


#GM {
    margin-top: 40px;
    height: 400px;
    width: auto;
}

#footer {
    height: 100vh;
}



