@import url(navbar.css);
body {
}
iframe{
  width:70%;
 
   margin-left:60px;
    margin-top:5px;
}
figure{
    position:absolute;
}
#tv{
    width:100%;
    pointer-events:none;
    position:absolute;
}
figure{
    margin-top:50px;
}
figcaption{
  
    margin-left:100px;
}