body {

}
html{
    background: url(https://upload.wikimedia.org/wikipedia/commons/7/77/Puffer_Fish_DSC01257.JPG) no-repeat center center fixed;  
  background-size: cover; 
}

#wrapper {
    background-color: royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    max-width:960px;
    min-width:360px;
    margin: 30px auto;
    border: 5px outset black;
    padding: 50px;
    outline: 10px dotted hotpink;
}
img{
    width:150px;
    height: 150px;
    border-radius:50%;
}
img:hover{
    border-radius:10px;
    border: dot
}

aside{
    width:205px;
    background-color: blue;
    padding: 20px;
    float: left;
    
}
article{
    width: 640px;
    background-color: red;
    padding: 20px;
    float: left;    
    margin-right:5px;
    border: 5px solid green;  
    border-radius: 40px; 
}
footer{
    clear:both;
}
#thingy{
    float:right;
}

a{
    color: blue;
}
a :hover {
    color: red;
    
}
a:visited{
    color: blue;
}
