body {
    background-color: blue;
}

nav {
    width: 50px;
    position: relative;
    display: inline-block;
}

    nav:hover #l1 {
        background-color: #ffac01;
        height: 30px;
        margin-top: 0px;
        transition-duration: 0.3s;
    }

    nav:hover #l2 {
        background-color: #ff8501;
        height: 30px;
        transition-delay: 0.1s;
        transition-duration: 0.5s;
    }

    nav:hover #l3 {
        background-color: #ff5701;
        height: 30px;
        transition-delay: 0.3s;
        transition-duration: 0.7s;
    }

header {
    width: 100%;
    height: 50px;
    background-color: gray;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#Ddbutton {
    width: 100px;
    height: 50px;
    background-color: red;
    cursor: pointer;
    border: none;
}

#Ddcontent {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    width: 160px;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

    #Ddcontent a {
        height: 0px;
        color: black;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }

        #Ddcontent a:hover {
            background-color: gray;
        }

#responsive:before {
    z-index: 0;
    color: white;
    font-size: 30px;
    content: "This is for phones";
}
